NeuDP_GAT/codes/__pycache__/*

NeuDP_GAT/data/seq_w_12_s_01.csv
NeuDP_GAT/data/edge_file/*
NeuDP_GAT/data/edge_file_sample500/*
NeuDP_GAT/data/index/*
NeuDP_GAT/data/time/*
NeuDP_GAT/data/sample500/*

NeuDP_GAT/experiments/hyperparameter_metrics.csv
NeuDP_GAT/experiments/archive/*
NeuDP_GAT/experiments/sample500/*
NeuDP_GAT/experiments/*/*/NeuDP_GAT_*/last_weights/*
NeuDP_GAT/experiments/*/*/NeuDP_GAT_*/*_pred_test.csv
NeuDP_GAT/experiments/*/*/NeuDP_GAT_*/train.log

NeuDP/experiments/*/NeuDP_12_index_lstm*/last_weights/*checkpoint.pt
NeuDP/experiments/*/NeuDP_12_index_lstm*/*_pred_test.csv
NeuDP/experiments/*/NeuDP_12_index_lstm*/train.log

NeuDP/wandb/*
wandb*

NeuDP/test*
NeuDP/codes/__pycache__/*

baselines/experiments/fim*/*_fold_*/best_weights/*
baselines/experiments/fim*/*_fold_*/eval_summaries/*
baselines/experiments/fim*/*_fold_*/last_weights/*
baselines/experiments/fim*/*_fold_*/train_summaries/*
baselines/TensorFlow_Ver/model/__pycache__/*
baselines/TensorFlow_Ver/postprocess/__pycache__/*

.vscode/launch.json
